
/*
body {
    background-image: url(../images/world.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    margin: 0;
}
*/

.banner-div {
    width: 100%; /* Or a specific width */
    height: 300px; /* Or a specific height */
    background-image: url('../images/world_map.PNG'); /* Specify the image path */
    background-size: cover; /* Optional: Scale the image to cover the entire div */
    background-position: center; /* Optional: Center the image */
    background-repeat: no-repeat; /* Optional: Prevent image repetition */
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.flex-break {
    flex-basis: 100%;
    height: 0;
}
/*
<img src="images/world_map.PNG" alt="LoveGeoBanner" style="height: 100vh; width: 100vw;" />
*/

p {
    color: green;
    width: 500px;
    border: 1px solid black;
}
